.container {
    padding: 7rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 0.8rem 1.2rem;
    text-align: left;
}

tbody tr {
    background-color: #fff;
    border-bottom: 6px solid #f6f7fb;
}

.light {
    color: #8c8c8c;
}

#searchBox {
    width: 35rem;
    border: 0;
    outline: none;
    padding: 0.8rem;
    font-size: 1rem;
    border-bottom: 2px solid rgba(0, 0, 255, 0.4);
}

#searchBtn {
    outline: none;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 2rem;
    background-color: #20b883;
    margin-left: 2rem;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

form {
    margin-bottom: 2rem;
}